MDocWriter.Styles/StyleDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="style">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="copyright" type="xs:string" />
        <xs:element name="stylesheet" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
